<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/documents/edit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>
    <div id="rootDiv" contenteditable="true"></div>
  </body>
</html>
