<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <% include ../partials/header %>
  <form action="/documents/create" method="POST">
    <button id="newDocumentButton" type="submit">New</button>
  </form>
</html>
