<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<body>
		<% include ./partials/header %>
		<form method="post" action="/users/create">
			<label>Username</label><br/>
			<input id="usernameInput" type="text" name="username"><br/><br/>
			<label>Email</label><br/>
			<input id="emailInput" type="email" name="email"><br/><br/>
			<label>Password</label><br/>
			<input id="passwordInput" type="password" name="password"><br/><br/>
			<input id="signUpButton" type="submit" value="Sign Up"><br/><br/>
		</form>
	</body>
</html>
