<html>
	<head></head>
	<body>
		<% include ./partials/header %>
		<form method="post" action="/users/create">
			<label>Username</label>
			<input type="text" name="username"><br/><br/>
			<label>Password</label>
			<input type="password" name="password"><br/><br/>
			<input type="submit" value="Sign Up"><br/><br/>
		</form>
	</body>
</html>